/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

* {
  font-family: open sans, lucida, sans-serif;
}

p {
  font-family: open sans, lucida, sans-serif;
  font-weight: lighter;
}

table {
  margin-top: 30px;
  margin-bottom: 60px;
  border-collapse: collapse;
}

th, td {
  color: white;
  padding: 5px 5px 5px 5px;
  font-size: 12px;
}

#rowForm {
  color: white;
}

.container {
  background: #211113;
}

.section-tables {
  background-color: #211113;
  margin-bottom: -60px;
  max-width: 1000px;
  margin: 0 auto;
}

.section-form {
  background-color: #211113;
  display: inline;
}

.tableheading {
  margin-bottom: -30px;
  color: white;
  font-weight: lighter;
}
